<div class="shList-container shList-image">
  <h1 class="title shList-title">Shopping <span>List</span></h1>
  <div class="background-container none js-background-container">
    <p class="empty-text">
      This page is empty, add some books and <br />
      proceed to order.
    </p>
    <picture class="books-picture">
      <source
        srcset="/img/books_mob.jpg.png"
        width="265"
        height="198"
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/books_tab.jpg.png"
        width="322"
        height="241"
        media="(min-width: 768px)"
      />
      <img src="/img/books_tab.jpg.png" alt="Shopping List is empty" />
    </picture>
  </div>

  <ul class="basket-list js-basket-list"></ul>
</div>
