<header class="header-container">
    <a class="header-logo" href="">
        <img class="header-boohshelf-logo" 
        src="../img/bookshelf_logo.svg" alt="boohshelf_logo" />
        Bookshelf
    </a>
    <nav class="header-navigation">
        <ul class="header-navigation-list">
            <li class="header-navigation-item"><a href="">HOME</a></li>
            <li class="header-navigation-item"><a href="">SHOPPING LIST</a></li>
        </ul>
    </nav>
    <label class="header-switch"><input type="checkbox" class="header-input" /><span class="header-slider"></span></label>
    <button class="header-x-button" type="button"></button>
    <button class="header-open-button" type="button"></button>
  </header>
  
<!-- <div class="header-wraper">
  <div class="burger-header light">
    <a href=""
      ><img
        class="burger-boohshelf-logo"
        src="../img/bookshelf_logo.svg"
        alt="boohshelf_logo" />
      <div class="burger-boohshelf"></div
    ></a>
    <div class="burger-chexbox-container">
      <label class="burger-switch">
        <input type="checkbox" class="burger-input" />
        <span class="burger-slider"></span>
      </label>
      <button class="burger-x-button" type="button"></button>
    </div>
  </div>
</div> -->
