.burger-wraper {
  background: url('../img/burger-books.png'),
    radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      rgb(79, 46, 232) 18.02733987569809%,
      rgb(255, 255, 255) 100%
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s ease;
}

.burger-body {
  display: block;
  margin: 0 auto;
  margin-top: 250px;
  box-sizing: content-box;
  padding: 0;
  width: 118px;
  height: 70px;
}

.burger-list-home {
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background-color: var(--gold-color);
  margin-bottom: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--dark-color);
  display: block;
  padding: 8px 16px;
}

.burger-list-shoplist a {
  display: flex;
  align-items: center;
}

.burger-list-shoplist {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white-color);
}

.burger-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.menu-is-closed {
  right: -100%;
}

.menu-is-open {
  right: 0;
}
