.charity-slider {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 16px;
    width: 335px;
    height: 460px;
    padding: 24px 40px;
    box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, rgb(79, 46, 232) 18.02733987569809%, rgb(255, 255, 255) 100%);
}

.charity-title {
    display: flex;
    font-size: 22px;
    color: var(--white-color);
    margin-bottom: 44px;
    align-items: center;
    gap: 12px;
}

.charity-list {
    height: 292px;
    overflow: scroll;
}

.charity-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: var(white-color);
    margin-bottom: 20px;
    gap: 12px;
}

.charity-logo {
    filter: brightness(0) invert(1);
}

.charity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
    border: none;
}
.charity-btn-icon {
    transform: rotate(-90deg);
    fill: var(--violet-color);
}

