:root {
  --gold-color: #eac645;
  --violet-color: #4f2ee8;
  --gray-color: #202024;
  --light-gray-color: #b4afaf;
  --dark-color: #111111;
  --white-color: #ffffff;
  --white-background-color: #f6f6f6;
  --border-color: rgba(79, 46, 232, 0.4);
  --box-shadow-color: rgba(0, 0, 0, 0.25);
  --black-color: #000;
}
.dark {
  --background-color: var(--gray-color);
  --main-fount-color: var(--white-color);
  --title-color: var(--white-color);
  --hover-color: var(--gold-color);
}
.light {
  --background-color: var(--white-background-color);
  --main-fount-color: var(--dark-color);
  --title-color: var(--dark-color);
  --hover-color: var(--violet-color);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--main-fount-color);
  background-color: var(--background-color);
  line-height: 1.28;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.04em;
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
}
.title span {
  color: var(--violet-color);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .title {
    font-size: 44px;
    line-height: 1.08;
  }
}

@media screen and (min-width: 1422px) {
  .container {
    max-width: 1422px;
    padding: 0 15px;
  }
}
