.shop-container {
  padding-top: 40px;
  padding-bottom: 80px;
}
.shop-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.gallery {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: 100px;
  }
  .shop-navigation {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1422px) {
  .shop-container {
    display: flex;
    gap: 40px;
  }
  .shop-navigation {
    flex-direction: column;
    gap: 86px;
  }
  .gallery {
    margin-top: 0;
  }
}
