.category-books-list {
}

.category-books-item {
}

.category-title {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.03em;
}

.category-list {
}

.books-item {
}

.book-image {
}

.book-image-message-text {
}

.book-title {
}

.book-author {
}

.category-button {
}
