.title {
  margin-bottom: 40px;
}

.selected-category-list .books-item {
  display: block;
}

.selected-category-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .selected-category-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (min-width: 1422px) {
  .selected-category-list {
    gap: 24px;
  }
}
