
.selected-category-list .books-item {
  display: block;
  transform: scale(1);
  transition: transform 0.3s;
}
.selected-category-list .books-item:hover {
  transform: scale(1.05);
}

.selected-category-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .selected-category-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (min-width: 1422px) {
  .selected-category-list {
    gap: 24px;
  }
}
