.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-wrapper.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  margin: 10px auto;
}

.modal-container {
  background-color: var(--background-color);
  padding: 40px 20px;
  border: 2px solid var(--title-color);
  width: 335px;
  border-radius: 18px;
  position: relative;
}

.modal-btn {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 25px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  margin-top: 44px;
  color: var(--title-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.01px;
  line-height: 1.2;
}

.modal-btn.clicked {
  padding: 14px 20px;
}

.modal-image-description {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-gray-color);
  margin-top: 4px;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.js-modal-img {
  border-radius: 8px;
  max-height: 408px;
  width: 100%;
}

.icon-close:hover,
.icon-close:focus {
  stroke: var(--violet-color);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--violet-color);
  color: var(--white-color);
}

.modal-congratulation {
  text-align: center;
  font-weight: 400;
  margin: 8px auto;
  width: 242px;
  font-size: 10px;
  line-height: 1.2;
  color: var(--modal-gray);
}

.modal-image-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  margin-top: 14px;
}

.modal-congratulation.hidden {
  display: none;
}

.modal-text {
  margin-top: 18px;
  margin-bottom: 14px;
}

@media screen and (max-height: 498px) {
  .modal-wrapper {
    display: block;
    padding-top: 100px;
  }
}

.icon-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: stroke 0.3s ease;
}

.icon-close::before,
.icon-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--main-fount-color);
  border-radius: 2px;
}

.icon-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .modal-congratulation {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }

  .modal-box {
    display: flex;
    gap: 24px;
  }

  .modal-content {
    max-width: 279px;
  }

  .icon-close {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .modal-btn {
    width: 100%;
    margin-top: 40px;
    padding: 20px 145px 20px 145px;
    font-size: 18px;
    line-height: 1.3;
  }

  .modal-btn.clicked {
    padding: 20px 100px 20px 100px;
  }

  .modal-text {
    margin-top: 20px;
  }

  .modal-image {
    margin-bottom: 0;
  }

  .modal-image-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04px;
    margin-top: 8px;
  }

  .modal-container {
    min-width: 579px;
    min-height: 465px;
    padding: 40px;
  }

  .modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-image-title {
    margin-top: 0;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.04px;
  }

  .modal-image-title {
    max-width: 250px;
  }

  .js-modal-img {
    max-width: 192px;
    max-height: 281px;
  }
}

@media screen and (min-width: 1422px) {
}
