.shop-navigation-list {
  max-height: 228px;
  overflow-y: auto;
  width: 335px;
}
.shop-navigation-list > li {
  margin-bottom: 24px;
}
.shop-navigation-list > li:last-child {
  margin-bottom: 0;
}

.shop-navigation-list > li > button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--main-fount-color);
  transition: all 0.3s ease;
}
.shop-navigation-list > li > button:hover {
  font-weight: 700;
  color: var(--hover-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .shop-navigation-list {
    max-height: 472px;
    width: 337px;
  }
  .shop-navigation-list > li {
    margin-bottom: 32px;
  }
  .shop-navigation-list > li > button {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1422px) {
  .shop-navigation-list {
    width: 356px;
  }
}
