.shop-navigation-list {
  max-width: 335px;
  height: 228p;
}
.shop-navigation-list > li {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #111111;
  margin-bottom: 24px;
}

.shop-navigation-list > li > button {
  border: none;
  background-color: transparent;
  outline: none;
}
