#pagination.tui-pagination {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pagination.tui-pagination .tui-page-btn {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-fount-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--button-number-color);
}

.tui-page-number:not(:last-child) {
  margin-right: 2px;
}

#pagination.tui-pagination .tui-first {
  margin-right: 5px;
}

#pagination.tui-pagination .tui-prev {
  margin-right: 10px;
}

#pagination.tui-pagination .tui-ico-ellip {
  color: var(--main-fount-color);
}

#pagination.tui-pagination .tui-first,
#pagination.tui-pagination .tui-prev {
  background-color: var(--button-background-color);
}

#pagination.tui-pagination .tui-is-selected,
#pagination.tui-pagination strong {
  color: var(--button-hover);
  background: var(--title-color);
}

#pagination.tui-pagination .tui-is-disabled .tui-ico-first,
#pagination.tui-pagination .tui-is-disabled .tui-ico-prev {
  color: var(--button-ellip-color);
}

#pagination.tui-pagination .tui-ico-next,
#pagination.tui-pagination .tui-ico-last {
  color: var(--black-color);
}

#pagination.tui-pagination .tui-page-btn.tui-next {
  background-color: var(--gold-color);
  margin-left: 10px;
}

#pagination.tui-pagination .tui-page-btn.tui-last {
  background-color: var(--gold-color);
  margin-left: 5px;
}

#pagination.tui-pagination .tui-page-btn.tui-last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  #pagination.tui-pagination {
    margin: 40px auto 40px;
  }
  #pagination.tui-pagination .tui-page-btn {
    height: 44px;
    width: 44px;
    margin-right: 10px;
  }
  #pagination.tui-pagination .tui-first {
    margin-right: 8px;
  }

  #pagination.tui-pagination .tui-prev {
    margin-right: 24px;
  }

  #pagination.tui-pagination .tui-page-btn.tui-next {
    margin-left: 24px;
    margin-right: 8px;
  }
}
