/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./galleryBestsellers.css');
@import url('./charitableFunds.css');
@import url('./basket.css');
@import url('./shopListLinks.css');
@import url('./navCategriesList.css');
@import url('./gallary.css');
@import url('./scrollButton.css');
@import url('./modal.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
