/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./gallery.css');
@import url('./charitableFunds.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
